@media print, (max-width: 1350px) {


  .modal {
    padding: 50px;
  }
  .modal_item-name {
    font-size: 24px;
  }
  .modal_item-label {
    font-size: 20px;
  }
  .modal_text {
    font-size: 23px;
    margin-bottom: 22px;
  }

  .services_item:nth-child(1) .services_item-left-img {
    margin-right: 0;
  }
  .services_item:nth-child(2) .services_item-left-img {
    margin-right: 20px;
    margin-top: 30px;
  }
  .services_item:nth-child(2) .services_item-left-img img {
    width: 100%;
  }
  .services_item:nth-child(2) .services_item-left-img:after {
    top: -325px;
    left: -421px;
  }
  .benefits_img {
    right: -518px;
    width: 600px;
    height: auto;
    top: 425px;
  }
  .benefits_info {
      z-index: 2;
  }
  .benefits-wrap_img:before {
      width: 925px;
  }
  .benefits_img img {
    width: 100%;
  }
  .benefits {
    margin-bottom: 270px;
  }






}
