/* For old browsers */
@supports (not(--css: variables))
{
    .supports_error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .supports_error
    {
        display: flex !important;
    }
}


@font-face {
    font-family: 'Zen Kaku';
    src: url('../fonts/ZenKakuGothicNew-Black.eot');
    src: local('Zen Kaku Gothic New Black'), local('ZenKakuGothicNew-Black'),
        url('../fonts/ZenKakuGothicNew-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ZenKakuGothicNew-Black.woff2') format('woff2'),
        url('../fonts/ZenKakuGothicNew-Black.woff') format('woff'),
        url('../fonts/ZenKakuGothicNew-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zen Kaku';
    src: url('../fonts/ZenKakuGothicNew-Medium.eot');
    src: local('Zen Kaku Gothic New Medium'), local('ZenKakuGothicNew-Medium'),
        url('../fonts/ZenKakuGothicNew-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ZenKakuGothicNew-Medium.woff2') format('woff2'),
        url('../fonts/ZenKakuGothicNew-Medium.woff') format('woff'),
        url('../fonts/ZenKakuGothicNew-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zen Kaku';
    src: url('../fonts/ZenKakuGothicNew-Light.eot');
    src: local('Zen Kaku Gothic New Light'), local('ZenKakuGothicNew-Light'),
        url('../fonts/ZenKakuGothicNew-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ZenKakuGothicNew-Light.woff2') format('woff2'),
        url('../fonts/ZenKakuGothicNew-Light.woff') format('woff'),
        url('../fonts/ZenKakuGothicNew-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zen Kakuw';
    src: url('../fonts/ZenKakuGothicNew-Bold.eot');
    src: local('Zen Kaku Gothic New Bold'), local('ZenKakuGothicNew-Bold'),
        url('../fonts/ZenKakuGothicNew-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ZenKakuGothicNew-Bold.woff2') format('woff2'),
        url('../fonts/ZenKakuGothicNew-Bold.woff') format('woff'),
        url('../fonts/ZenKakuGothicNew-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zen Kaku';
    src: url('../fonts/ZenKakuGothicNew-Regular.eot');
    src: local('Zen Kaku Gothic New Regular'), local('ZenKakuGothicNew-Regular'),
        url('../fonts/enKakuGothicNew-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ZenKakuGothicNew-Regular.woff2') format('woff2'),
        url('../fonts/ZenKakuGothicNew-Regular.woff') format('woff'),
        url('../fonts/ZenKakuGothicNew-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
    display: none;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #1F383A;
    --font_size: 22px;
    --font_size_title: 70px;
    --font_family: 'Zen Kaku';
}


::selection
{
    color: #fff;

    background: #76B95B;
}

::-moz-selection
{
    color: #fff;

    background: #76B95B;
}


.clear
{
    clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}
/*
html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #de041d;
}

html.custom_scroll
{
    scrollbar-color: #de041d #ccc;
    scrollbar-width: thin;
}

*/
body
{
    color: var(--text_color);
    font: var(--font_size) var(--font_family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}


button
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap
{
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main
{
    flex: 1 0 auto;
}


.cont
{
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}


.lozad
{
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded
{
    opacity: 1;
}


.row
{
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: rgba(31, 56, 58, 0.8);
}



.supports_error
{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show
{
    display: flex;
}



/*--------------
    Fancybox
--------------*/
.fancybox__backdrop
{
    background: rgba(0,0,0,.6);
}


.fancybox__slide
{
    padding: 40px;
}





/*-------------------
    Header START
-------------------*/

header {
    position: relative;
    padding-top: 59px;
    width: 100%;
    margin-bottom: 31px;
    background: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
.header_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 114px; 
    padding-left: 20px;
    padding-right: 20px;
}
header ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: -5px;
}
header ul.menu > li {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header ul.menu > li > a {
    display: block;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: var(--text_color);
    margin-right: 44px;
    transition: all .3s;
}
header ul.menu > li:last-child > a {
    margin-right: 0px;
}
header ul.menu > li > a:hover {  
    color: #76B95B;
}
header ul.menu > li > a.active {
    color: #76B95B;
    border-bottom: 3px solid #76B95B;
}
.menu_btn {
    position: absolute;
}  
.header_phone {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.2;
    color: var(--text_color);
    text-decoration: none;
}
.header_phone .icon {
    width: 24px;
    height: 24px;
    margin-right: 7px;
    margin-top: 4px;
}
.header_title {
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.05em;
    color: var(--text_color);  
    margin-bottom: 41px;  
}
.header_title span {
    font-weight: 700;
}
.header_text {
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    color: var(--text_color);
    margin-bottom: 12px;
}
.header_img img {
    width: 100%;
}







.advantages_title {
    font-weight: 500;
    font-size: var(--font_size_title);
    line-height: 90%;
    text-align: center;
    letter-spacing: -0.04em;
    color: var(--text_color);
    margin-bottom: 57px;
}
.advantages_text {
    display: flex; 
    margin-bottom: 90px;   
}
.advantages_text p:first-child {
    font-weight: 500;
    font-size: 28px;
    line-height: 128%;
    letter-spacing: -0.02em;
    color: var(--text_color);
    max-width: 634px;
    margin-right: 58px;
}
.advantages_text p:last-child {
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: #3D5C57;
}
.advantages_bottom-title {
    padding: 40px 80px 60px;
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--text_color);
    max-width: 760px;
    margin: 0 auto;
    margin: 0 auto -120px;
    z-index: 1;
    position: relative;
    background: #fff;
}
.advantages_bottom-wrap {
    background: #F7FCF5;    
    position: relative;
    display: flex;
    margin-left: -59px;
    padding-top: 218px;
    padding-bottom: 166px;
}
.advantages_bottom-wrap > * {
    width: calc(100%/2 - 59px);
    margin-left: 59px;
}
.advantages_left a {
    width: 220px;
    height: 62px;
    border: 1px solid #3D5C57;
    border-radius: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #3D5C57;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.advantages_bottom-wrap:before {
    position: absolute;
    content: "";
    width: 3000px;
    height: 100%;
    left: 100%;
    top: 0;
    background: #F7FCF5;
}
.advantages_bottom-wrap:after {
    position: absolute;
    content: "";
    width: 3000px;
    height: 100%;
    right: 100%;
    top: 0;
    background: #F7FCF5;
}
.advantages_left-title {
    font-weight: 500;
    font-size: 52px;
    line-height: 140%;
    color: var(--text_color);
    margin-bottom: 10px;
}
.advantages_left-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: #3D5C57;
    margin-bottom: 29px;
}
.advantages_right-list {
    list-style: none;
    columns: 2;
}
.advantages_right-list li {
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: #3D5C57;
    margin-bottom: 10px;
}
.advantages_bottom .icon {
    width: 26px;
    height: 12px;
    fill: #849592;
    margin-left: 20px;
}





.service {
    padding-top: 121px;
    padding-bottom: 136px;
    background: #3D5C57;    
}
.service_title {
    font-weight: 500;
    font-size: var(--font_size_title);
    line-height: 90%;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-bottom: 45px;
}
.service_items {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-left: -30px;
    margin-bottom: -30px;
}
.service_items > * {
    margin-left: 30px;
    margin-bottom: 30px;
    width: calc(100%/3 - 30px);
}
.service_item {
    background: rgba(171, 222, 182, .1);
    border-radius: 8px;
    padding: 45px 35px 50px 45px;
    display: flex;
    flex-direction: column;
}
.service_item-icon {
    width: 87px;
    height: 87px;
}
.service_item-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 5px;
    margin-top: 58px;
}
.service_item-text {
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    color: #FFFFFF; 
    margin-bottom: 36px;
}
.service_item .link {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: auto;
    display: block;
}
.service_item .link .icon {
    width: 26px;
    height: 12px;
    fill: #fff;
    margin-left: 9px;
}




.team {
    padding-top: 173px;
    padding-bottom: 183px;
}
.team_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.team_title {
    font-weight: 500;
    font-size: var(--font_size_title);
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: var(--text_color);
    position: relative;
    margin-bottom: 38px;
    display: inline-block;
}
.team_title:after {
    position: absolute;
    content: "";
    background: #CACECD;
    height: 1px;
    width: 172%;
    left: 110%;
    top: 60%;
}
.team_text {
    font-weight: 400;
    font-size: 37px;
    line-height: 130%;
    color: var(--text_color);
    margin-bottom: 53px;
}
.team_text span {
    font-weight: 500;
}
.team .link {
    width: 287px;
    height: 74px;
    background: #3D5C57;
    border-radius: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.team .link .icon { 
    width: 26px;
    height: 12px;
    fill: #fff;
    margin-left: 20px;
}
.team_img {
    width: 578px;
    height: 386px;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
}
.team_img:before {
    position: absolute;
    content: "";
    width: 987px;
    height: 1083px;
    bottom: -390px;
    right: -320px;
    background: url(../images/team_bg.png);
    z-index: -1;
}
.team_img:after {
    position: absolute;
    content: "";
    width: 747px;
    height: 256px;
    bottom: -175px;
    right: -180px;
    background: url(../images/team_bg2.svg);
    z-index: 0;
}
.team_img img {
    display: block;
    width: 100%;
    height: 100%;    
}





.benefits {
    padding-top: 166px;
    padding-bottom: 166px;
    background: url(../images/benefits_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    position: relative;
    margin-bottom: 373px;
}

.benefits_wrap {
    display: flex;
    justify-content: space-between;
    position: relative; 
    max-width: 648px;
}
.benefits_title {
    font-weight: 400;
    font-size: 118px;
    line-height: 90%;
    letter-spacing: -0.04em;
    color: var(--text_color);
    margin-bottom: 35px;
}
.benefits_text {
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;
    color: var(--text_color);
    margin-bottom: 45px;
}
.benefits_text span {
    font-weight: 500;
}
.benefits_img {
    width: 707px;
    height: 526px; 
    position: absolute;  
    bottom: 0;
    right: 0; 
}
/* .benefits_img:before {
    position: absolute;
    content: "";
    width: 987px;
    height: 1083px;
    bottom: -390px;
    right: -320px;
    background: url(../images/team_bg.png);
    z-index: -1;
}
.benefits_img:after {
    position: absolute;
    content: "";
    width: 747px;
    height: 256px;
    bottom: -175px;
    right: -180px;
    background: url(../images/team_bg2.svg);
    z-index: 1;
} */

.benefits .link {
    width: 263px;
    height: 74px;
    background: #3D5C57;
    border-radius: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.benefits .link .icon { 
    width: 26px;
    height: 12px;
    fill: #fff;
    margin-left: 20px;
}





.contacts {
    z-index: 1;
    position: relative;
}
.contacts_title {
    font-weight: 500;
    font-size: var(--font_size_title);
    line-height: 90%;
    text-align: center;
    letter-spacing: -0.04em;
    color: var(--text_color);
    margin-bottom: 19px;
}
.contacts_text {
    font-weight: 400;
    font-size: 31px;
    line-height: 130%;
    text-align: center;
    color: var(--text_color);
    max-width: 1045px;
    margin: 0 auto 41px;
}
.contacts_phone {
    font-weight: 900;
    font-size: 76px;
    line-height: 90%;
    text-align: center;
    color: var(--text_color);
    text-decoration: none;
    margin-bottom: 39px;
    display: block;
}
.contacts_email {
    font-weight: 500;
    font-size: 30px;
    line-height: 90%;
    text-align: center;
    color: var(--text_color);
    text-decoration: none;
    margin-bottom: 13px;
    display: block;
}
.contacts_adress {
    font-weight: 500;
    font-size: 30px;
    line-height: 90%;
    text-align: center;
    color: var(--text_color);
    margin-bottom: 90px;
}

.map_wrap {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    transform: translateZ(0);
}
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



footer {
    padding-top: 28px;
    padding-bottom: 35px;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #849592;
}





.about-page {
    background: url(../images/about_bg.png);
    background-position: right top;
    background-repeat: no-repeat;
}
.about-page header {
    background: none;
}
.about_title {
    margin-left: 297px;
}
.title {
    font-weight: 700;
    font-size: 54px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: var(--text_color);
    margin-bottom: 50px;
}
.about_item {
    margin-bottom: 100px;  
    display: flex;  
}
.about_item .cont {
    display: flex;
    position: relative;
}
.about_item-left {
    width: 297px;
    flex-shrink: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    color: #97A19F;
}
.about_item-right p,
.text_block p,
.services_item-right p {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 140%;
    color: #3D5C57;
    margin-bottom: 25px;
}
.services_item-right p span {
    font-weight: 500;
}
p.fw500 {
    font-weight: 500;
    font-size: 34px;
}
.about_item-right p:last-child,
.text_block p:last-child,
.services_item-right:last-child {
    margin-bottom: 0;
}
.about_item.bg {
    position: relative;
    padding: 126px 0 150px;
    background: url(../images/about_bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about_item.bg2 {
    position: relative;   
    background: url(../images/about_bg3.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 65px;
}
.about_item .right-title {
    font-weight: 500;
    font-size: 34px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: var(--text_color);
    margin-bottom: 50px;
}
.about_item .right-items {
    display: flex;
    margin-left: -40px;
    margin-bottom: -40px;
}
.about_item .right-items > * {
    margin-left: 40px;
    margin-bottom: 40px;
    width: calc(100%/3 - 40px);
}
.right-item_text {
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #3D5C57;
    margin-top: 25px;
}
.right-item_text span {
    font-weight: 500;
}
p.mb0 {
    margin-bottom: 0;
}
.about_item-right a {
    font-weight: 500;
    font-size: 34px;
    line-height: 140%;
    color: #76B95B;
}
.about .right-item_icon {
    width: 64px;
    height: 64px;
}


.about-page .map_wrap {
    padding-top: 104px;
    padding-bottom: 121px; 
    z-index: 1;  
    position: relative;
}
.about-page .map_wrap::after {
    z-index: 0;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #F3FDF2 25.03%, rgba(243, 253, 242, 0) 50%);
}
.about-page .map_wrap .contact_title {
    font-weight: 500;
    font-size: 46px;
    line-height: 110%;
    letter-spacing: -0.04em;
    color: var(--text_color);
    margin-bottom: 22px;
    max-width: 410px;
    text-align: start;
}
.about-page .map_wrap .contact_phone {
    font-weight: 900;
    font-size: 46px;
    line-height: 90%;
    color: var(--text_color);
    text-decoration: none;
    text-align: start;
    margin-bottom: 20px;
}
.about-page .map_wrap .contact_email {
    font-weight: 400;
    font-size: 20px;
    line-height: 90%;
    color: var(--text_color);
    text-align: start;
    margin-bottom: 14px;
    text-decoration: none;
}
.about-page .map_wrap .contact_adress {
    font-weight: 400;
    font-size: 20px;
    line-height: 90%;
    color: var(--text_color);
    text-align: start;
}
.about-page .map_wrap .cont {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.about-page .map_wrap .cont .text {
    position: absolute;
}

.candidate-page .client {
    margin-bottom: 89px;
}
.client .text_block img {
    width: 100%;
    height: auto;   
    display: block;    
}
.client .text_block-img {
    position: relative; 
    margin-top: 58px;
}
.client .text_block-img:after {
    position: absolute;
    content: "";
    top: -44px;
    right: -69px;
    background: url(../images/sign.svg);
    width: 453px;
    height: 119px;
}
.text_block p a {
    color: #76B95B;
}


.why {
    padding: 285px 0 114px;    
    margin-top: -193px;
}
.bg4 {
    background: #F7FCF5;
}
.title-little {
    font-weight: 500;
    font-size: 42px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: var(--text_color);
    margin-bottom: 37px;
}
.why_items {
    display: flex;
    margin-left: -40px;
    margin-bottom: -46px;
    flex-wrap: wrap;
}
.why_items > * {
    width: calc(100%/2 - 40px);
    margin-left: 40px;
    margin-bottom: 46px;
}
.why_item-title {
    margin-top: 15px;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: var(--text_color);
}
.why_item-text {
    margin-top: 5px;
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    color: #3D5C57;
}





.steps {
    padding: 95px 0 118px;
}
.steps_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -36px;
}
.steps_items > * {
    width: calc(100%/4 - 20px);
    margin-left: 20px;
    margin-bottom: 36px;
}
.steps_item-number {
    font-weight: 900;
    font-size: 50px;
    line-height: 130%;
    color: var(--text_color);
    position: relative;
}
.steps_item-number:after {
    position: absolute;
    content: "";
    width: calc(100% - 60px);
    height: 2px;
    top: 53%;
    right: 0;
    background: url(../images/line.svg);
}
.steps_item:nth-child(4) .steps_item-number::after {
    display: none;
}
.steps_item-text {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 110%;
    color: #3D5C57;
}
.steps_item button .icon {
    width: 54px;
    height: 18px;
    fill: #76B95B;  
    margin-left: -90px;
}
.steps_item button {
    font-weight: 900;
    font-size: 50px;
    line-height: 90%;
    color: #76B95B;  
    text-align: start;  
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
}

.candidate-bottom {
    padding-bottom: 100px;
}
.candidate-page .why_items {
    display: flex;
    margin-left: -40px;
    margin-bottom: -46px;
    flex-wrap: wrap;
}
.candidate-page .why_items > * {
    width: calc(100%/4 - 40px);
    margin-left: 40px;
    margin-bottom: 46px;
}
.candidate-bottom button .icon {
    width: 54px;
    height: 18px;
    fill: #76B95B;  
    margin-left: 20px;
    margin-top: 18px;
}
.candidate-bottom button {
    font-weight: 900;
    font-size: 50px;
    line-height: 90%;
    color: #76B95B;
    text-align: start;  
    display: flex;
    align-items: center;
}
.candidate-bottom .candidate_img {
    margin-bottom: 75px;
    position: relative;
    z-index: 1;
} 
.candidate-bottom .candidate_img img {
    width: 100%;
    height: auto;
    display: block;
} 
.candidate-bottom .candidate_img::before {
    position: absolute;
    content: "";
    width: 953px;
    height: 956px;
    top: -232px;
    right: -312px;
    background: url(../images/candidate_bg.png);
    z-index: -1;
}  
.candidate-bottom .candidate_img::after {
    position: absolute;
    content: "";
    width: 457px;
    height: 123px;
    top: -43px;
    right: -77px;
    background: url(../images/sign2.svg);
    z-index: 0;
}  


.contact {
    padding-bottom: 91px;
}
.contact_items {
    display: flex;
    flex-wrap: wrap;
}
.contact_item {
    margin-right: 62px;
    margin-bottom: 27px;
}
.contact_item:last-child {
    width: 100%;
    margin-bottom: 0;
}
.contact_item-label {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 140%;
    color: #97A19F;
}
.contact_item-name {
    font-weight: 500;
    font-size: 42px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: var(--text_color);
    text-decoration: none;
}
.contact_item-description {
    font-weight: 700;
    font-size: 19px;
    line-height: 140%;
    color: #76B95B;
}
.contact_item:last-child .contact_item-description {
    font-weight: 400;
    color: var(--text_color);
}


.modal {
    padding: 84px 90px 103px 107px;
    display: none;
    max-width: 1170px;
    width: 100%;
}
.modal_title {
    margin-bottom: 8px;
}
.modal_text {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: #3D5C57;
    margin-bottom: 28px;
}
.modal_items {
    display: flex;
    justify-content: space-between;
}
.modal_item {
    margin-right: 20px;
}
.modal_item-label {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 140%;
    color: #97A19F;
}
.modal_item-name {
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: var(--text_color);
    text-decoration: none;
    white-space: nowrap;
}
.modal_item:last-child .modal_item-name {
    white-space: normal;
}
.carousel__button svg {
    fill: #A8B0AF;
    stroke: #A8B0AF;
}
.fancybox__content>.carousel__button.is-close {
    top: 20px;
    right: 20px;
}



.services {
    padding-bottom: 100px;
}
.services_items {
    margin-top: 68px;
}
.services_item {
    display: flex;
    margin-bottom: 210px;
    position: relative;
    z-index: 1;
}
.services_item-left {
    width: 297px;
    flex-shrink: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: #1F383A;
}
.services_item-right {
    position: relative;
}
.services_item:nth-child(1) .services_item-left-img {
    float: right;
}
.services_item-right p span {
    font-weight: 500;
}
.services_items .link {
    display: flex;
    align-items: center;
    z-index: 3;
    position: relative;
}
.link-keys {
    font-weight: 500;
    font-size: 22px;
    line-height: 160%;
    letter-spacing: -0.02em;
    color: #76B95B;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.link-keys .icon {
    stroke: #76B95B;
    width: 24px;
    height: 24px;
    margin-right: 6px;
}
.link-message {
    font-weight: 500;
    font-size: 22px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: #849592;   
    text-decoration: none;
    display: flex;
    align-items: center;
}
.link-message .icon {
    stroke: #849592;
    width: 24px;
    height: 24px;
    margin-right: 6px;
}
.services_item:nth-child(2) .services_item-left-img {
    margin-right: 32px;
    margin-top: 83px;
    position: relative;
    z-index: 1;
    float: right;
}
.services_item:nth-child(2) .services_item-left-img:before {
    position: absolute;
    content: "";
    width: 267px;
    height: 67px;
    bottom: 2px;
    left: -32px;
    background: url(../images/sign3.svg);
}
.services_item:nth-child(2) .services_item-left-img:after {
    position: absolute;
    content: "";
    width: 795px;
    height: 867px;
    top: -305px;
    left: -205px;
    background: url(../images/services_bg2.png);
    z-index: -1;
}
.services_item:nth-child(1) {
    margin-bottom: 153px;
}
.services_item:nth-child(2) {
    margin-bottom: 48px;
}
.services_item:nth-child(3) {
    margin-bottom: 108px;
}
.services_item:nth-child(1) .services_item-left-img {
    position: relative;
    margin-right: -88px;
    z-index: -1;
}
.services_item:nth-child(1) .services_item-left-img:before {
    position: absolute;
    content: "";
    width: 412px;
    height: 99px;
    bottom: -56px;
    left: 17px;
    background: url(../images/sign4.svg);
}
.services_item:nth-child(1) .services_item-left-img:after {
    position: absolute;
    content: "";
    width: 795px;
    height: 867px;
    top: -305px;
    left: -205px;
    background: url(../images/services_bg2.png);
    z-index: -1;
}
.services_item:nth-child(4) {
    position: relative;
    margin-bottom: 0;
}
.services_item:nth-child(4)::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    right: -50%;
    top: -70px;
    background: url(../images/about_bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.services_item:nth-child(4) .services_item-right {
    display: flex;
    justify-content: space-between;
    margin-left: -135px;
    width: 100%;
}
.services_item:nth-child(4) .services_item-right > * {
    width: calc(100%/2 - 135px);
    margin-left: 135px;
}
.services_item-right-item {
    margin-bottom: 18px;
}
.services_item-list-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    color: #3D5C57;
    margin-bottom: 9px;
}
.services_item-right-item ul {
    list-style: none;
}
.services_item-right-item ul li {
    padding-left: 17px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #3D5C57;
    position: relative;
}
.services_item-right-item ul li::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #3D5C57;
    top: 13px;
    left: 0px;
}
.services_item.bg {
    background: #F7FCF5;
    padding-top: 109px;
    position: relative;
}
.services_item.bg::after {
    position: absolute;
    content: "";
    width: 2000px;
    height: 100%;
    top: 0;
    left: 100%;
    background: #F7FCF5;
}
.services_item.bg::before {
    position: absolute;
    content: "";
    width: 2000px;
    height: 100%;
    top: 0;
    right: 100%;
    background: #F7FCF5;
}

.candidate-page .why_item-text {
    margin-top: 13px;
}

